version: '3.8'

services:
  mariadb:
    build: .
    image: concmariasql 
    container_name: concoc_mariasql
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_USER: groot
      MARIADB_PASSWORD: iamgroot
      MARIADB_DATABASE: concoctionsDB

    ports:
      - "6603:3306"
    volumes:
      - ./concoctions.sql:/concoctions
      - ./01_init.sql
      - ./02_starterData.sql
